@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
html,body{
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #2D83CF;
  box-sizing: border-box;
  font-size: 62.5%;
}
/*--------------背景--------------*/
.area_bg{
  width: 100vh;
  height: 100vh;
}
.bg_textBox{
  position: absolute;
  /* width: 60rem;
  height: 24rem; */
  width: 40vw;
  height: 15vw;
  /* top: 50%;
  left: 50%; */
  /* margin: -12rem 0 0 -30rem; */
  top: 15vw;
  left: 30vw;
  background: rgba( 3, 30, 54, 0.5);
  box-sizing: border-box;
  text-align: center
}
.bg_text{
  font-family: 'Noto Sans TC', sans-serif;
  /* font-size: 2.4rem; */
  font-size: 1.55vw;
  /* line-height: 4.8rem; */
  line-height: 3.12vw;
  text-align: center;
  color: #fff;
  padding: 3.6rem;
}
.backGround_img{
  width: 100vw;
  height: 100vh;
  background-image: url(../images/首頁/img_bg.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center 30%;
  object-fit: cover;
  object-position: center top;
  position: relative;
}
.bg_title{
  position: absolute;
  top: 11rem;
  /* left: 12rem; */
  left: 7.8vw;
  font-family: DFKai-SB;
  /* font-size: 4.8rem; */
  font-size: 3.1vw;
  text-align: left;
  color: #fff;
  text-shadow: #031E36 1px 1px 5px;
}
.bg_title2{
  /* font-size: 5.6rem; */
  font-size: 3.65vw;
  top: 10rem;
  /* left: 6.4rem; */
  left: 4.2vw;
}
.bg_title3{
  position: absolute;
  top: 11rem;
  /* left: 26.4rem; */
  left: 17.2vw;
  font-family: DFKai-SB;
  /* font-size: 4.8rem; */
  text-align: left;
  color: #efdaa4;
}
.bg_title4{
  position: absolute;
  top: 11rem;
  /* left: 36rem; */
  left: 23.4vw;
  font-family: DFKai-SB;
  /* font-size: 4.8rem; */
  text-align: left;
  color: #fff;
}
/*--------------引言--------------*/
.area_intro{
  width: 70vw;
  height: 90vh;
  margin-left: 15vw;
  background-color: #0f4c81;
  border-radius: 6rem solid ;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  position: relative;
}
.intro_title{
  font-family: 'Noto Sans TC', sans-serif;
  position: absolute;
  top: 20%;
  left: 20%;
  /* font-size: 5.6rem; */
  font-size: 3.65vw;
  text-align: left;
  color: #efdaa4;
  text-shadow: #031E36 1px 1px 5px;
}
.row{
  clear: both;
  position: absolute;
  top: 35%;
  left: 2rem;
}
.circle{
  object-fit: cover;
  object-position: center center;
  float: left;
  border-radius: 50%;
  shape-outside: circle();
  max-width: 30%;
  max-height: 30%;
  padding: 1rem;
  border: 0.2rem solid #efdaa4;
}
.row p{
  font-family: 'Noto Sans TC', sans-serif;
  color: #efdaa4;
  /* font-size: 2.4rem; */
  font-size: 1.55vw;
  font-style: normal;
  /* line-height: 4.8rem; */
  line-height: 3.1vw;
  text-align: left;
  padding: 1rem;
}
/*--------------媽祖--------------*/
.area_mazu{
  width: 70vw;
  height: 100vh;
  margin-left: 15vw;
  background-color: #0f4c81;
  position: relative;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}
.mazu-img{
  position: absolute;
  display: block;
  /* right: 5%;
  top: 15%; */
  right: 3.5vw;
  top: 10.5vh;
  /* max-height: 80%;
  max-width: 80%; */
  max-height: 44vw;
  max-width: 56vw;
}
.mazu_title{
  position: absolute;
  max-width: 20%;
  max-height: 20%;
  /* top: 8%;
  left: 10%; */
  top: 4vw;
  left: 5vw;
}
.mazu_textBox{
  position: absolute;
  width: 35vw;
  /* height: 60vh; */
  height: 28vw;
  border-radius: 2rem;
  background: rgba(3, 30, 54, 21);
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  /* top: 25%;
  left: 5%; */
  top: 12vw;
  left: 3vw;
  text-align:center;
}
.mazu_text{
  font-family: 'Noto Sans TC', sans-serif;
  color: #efdaa4;
  /* font-size: 2.4rem; */
  font-size: 1.56vw;
  font-style: normal;
  /* line-height: 4.8rem; */
  line-height: 3.12vw;
  text-align: left;
  padding: 2rem;
}
.btn-mazu-link{
  text-decoration: none;
}
.btn-mazu-link-text:hover{
  color: #efdaa4;
  background-color: #2D83CF;
}
.btn-mazu-link-text{
  font-family: 'Noto Sans TC', sans-serif;
  color: #0f4c81;
  background-color: #efdaa4;
  border-radius: 2rem;
  /* font-size: 2.4rem; */
  font-size: 1.56vw;
  font-style: normal;
  position: absolute;
  /* top: 85vh; */
  top: 40vw;
  left: 28vw;
  padding: 0.4rem;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}
/*--------------王爺--------------*/
.area_wangya{
  width: 70vw;
  height: 100vh;
  margin-left: 15vw;
  background-color: #0f4c81;
  position: relative;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}
.wangya_img{
  position: absolute;
  display: block;
  /* left: 5%;
  top: 15%; */
  left: 3vw;
  top: 8vw;
  /* max-height: 70%;  
  max-width: 70%; */
  max-height: 33vw;
  max-width: 42vw;
  border-radius: 2%;
}
.wangya_title{
  position: absolute;
  max-width: 20%;
  max-height: 20%;
  /* top: 8%;
  left: 50%; */
  top: 4vw;
  left: 34vw;
}
.wangya_textBox{
  position: absolute;
  width: 35vw;
  /* height: 60vh; */
  height: 28vw;
  border-radius: 20px;
  background: rgba(3, 30, 54, 21);
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
  /* top: 25%;
  right: 5%; */
  top: 12vw;
  right: 3vw;
  text-align:center;
}
.wangya_text{
  font-family: 'Noto Sans TC', sans-serif;
  color: #efdaa4;
  font-size: 2.4rem;
  font-style: normal;
  line-height: 4.8rem;
  text-align: left;
  padding: 2rem;
}
.btn-wangya-link{
  text-decoration: none;
}
.btn-wangya-link-text:hover{
  color: #efdaa4;
  background-color: #2D83CF;
}
.btn-wangya-link-text{
  font-family: 'Noto Sans TC', sans-serif;
  color: #0f4c81;
  background-color: #efdaa4;
  border-radius: 2rem;
  /* font-size: 2.4rem; */
  font-size: 1.56vw;
  font-style: normal;
  position: absolute;
  /* top: 60rem;
  right: 5.6rem; */
  top: 40vw;
  right: 3.2vw;
  padding: 0.4rem;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.2);
}
/*--------------FOOTER--------------*/
.box-footer{
  width: 100vw;
  height: 5vh;
  background-color: #C4C4C4;
}
/*--------------導覽列--------------*/
.nav{
  position: fixed;
  top: 0;
  left: 0;
  background-color: #031E36;
  /* height: 6rem; */
  height: 3.8vw;
  width: 100vw;
  display: flex;
}
.nav ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
.nav ul li{
  display: inline;
  padding: 1rem;
}
.nav ul li .logo-link{
  width: 5vw;
  left: 0;
}
.nav ul li a{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  text-align: center;
}
.nav-mazu-link{
  font-family: 'Noto Sans TC', sans-serif;
  position: absolute;
  right: 8%;
  padding: 0.8rem;
  /* font-size: 2.4rem; */
  font-size: 1.56vw;
}
.nav-mazu-link:hover{
  color: #efdaa4;
}
.nav-wangya-link{
  font-family: 'Noto Sans TC', sans-serif;
  position: absolute;
  right: 3%;
  padding: 0.8rem;
  /* font-size: 2.4rem; */
  font-size: 1.56vw;
}
.nav-wangya-link:hover{
  color: #efdaa4;
}
.nav-icon{
  max-width: 50%;
  max-height: 50%;
  margin-top: 0.6rem;
}
