body{
    margin: 0;
    padding: 0;
    position: relative;
    width: 1280px;
  /*   height: 2220px; */
    /* background: #195c8a; */
    background-image: url(../images/1x/tt04.jpg);
    background-repeat: repeat;
    background-size: auto;
    box-sizing: border-box;
  }
  .header{
    width: 80vw;
    height: 100vh;
  }
  .area1{
    width: 100vh;
    height: 100vh;
  }
  .introBox{
    position: absolute;
    width: 650px;
    height: 180px;
    top: 50%;
    left: 50%;
    margin: -90px 0 0 -325px;
  /*   left: 377px;
    top: 302px; */
    background: rgba(106, 106, 106, 0.5);
  /*   border: 1px solid #C4C4C4; */
    box-sizing: border-box;
    text-align:center
  }
  .introText{
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    padding: 25px;
  
  }
  .backGround_img{
    width: 80vw;
    height: 90vh;
    background-image: url(https://i.postimg.cc/cJ7gzwnV/ltghs-EMf-B3s-Zm-MIE-unsplash02.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center 30%;
    object-fit: cover;
    object-position: center top;
    margin-left: 10vw;
    position: relative;
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.2);
  
  }
  
  .nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #555;
    
    width: 100vw;
  }
  .nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;
  }
  .nav ul li{
    width: 100px;
    width: calc((100% - 30px) / 5);
    display: inline-block;
  }
  .nav ul li a{
    text-decoration: none;
    color: #fff;
    background-color: #555;
    padding: 10px;
    display: block;
    text-align: center;
  }
  .nav ul li a:hover{
    background-color: #687ab3;
  }
  
  .text{
    position: absolute;
    top: 82px;
    left: 100px;
    font-family: DFKai-SB;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
  /*   display: inline; */
    color: #fff;
  }
  .text1{
    font-size: 48px;
    top: 80px;
    left: 50px;
  }
  .area2{
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
    background-color: lightblue;
  }
  .area3{
    width: 80vw;
    height: 100vh;
    margin-left: 10vw;
    background-color: lightyellow;
    position: relative;
  }
  .mazu{
    position: absolute;
    /* width: 513px;
    height: 600px; */
    right: 5%;
    top: 10%;
    max-height: 80%;  
    max-width: 80%;
    border-radius: 2%;
  }
  .textBar_mazu{
    position: absolute;
    width: 50%;
    height: 15%;
    /* left: 10px;
    top: 853px; */
    top: 10%;
    left: 5%;
    background: #C4C4C4;
    border-radius: 20px; 
  }
  .area4{
      width: 80vw;
      height: 100vh;
      margin-left: 10vw;
      background-color: lightgray;
      position: relative;
  }
  .wangya{
    position: absolute;
    left: 5%;
    top: 10%;
    max-height: 80%;  
    max-width: 80%;
    border-radius: 2%; 
  }
  .textBar_wang{
    position: absolute;
    width: 50%;
    height: 15%;
    /* left: 10px;
    top: 853px; */
    top: 10%;
    right: 5%;
    background: #C4C4C4;
    border-radius: 20px; 
  }